<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Quiz app</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
  <div class="wrapper">
    <h1>SCORE:</h1>
    <form>
      <div class="formDiv">
        <span class="questionText">Who is from the House Targaryen, First of Her Name, the Unburnt, Queen of the Andals and the First Men, Khaleesi of the Great Grass Sea, Breaker of Chains, and Mother of Dragon?</span>
        <button type="radio" id="answer1">Answer1</button>
        <button type="radio" id="answer2">Answer2</button>
        <button type="radio" id="answer3">Answer3</button>
        <button type="radio" id="answer4">Answer4</button>
      </div>
    </form>
    <a href="http://localhost:3000/questions">
      <p>Manage questions</p>
    </a>
  </div>
  <script src="/static/frontend.js"></script>
</body>
</html>