<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Manage questions</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
  <div class="wrapper">
    <h1>Manage questions</h1>
    <div class="listQuestions">
    </div>
    <h1>Create new question</h1>
    <form>
      <div class="addNewQuestions">
          <button type="radio">Submit</button>
      </div>
    </form>
  </div>
  <script src="/static/questions.js"></script>
</body>

</html>