<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Manage questions</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
  <div class="wrapper">
    <h1>Manage questions</h1>
    <div class="listQuestions">
    </div>
    <h1>Create new question</h1>
    <form>
      <div class="addNewQuestions">
        <div class="textHolder">
          <input type="text" placeholder="Type your questions here" id="questionInput" required>
          <p id="answerText">Answers</p>
          <div class="answerInputField">
            <label class="inputLabel">
              <p>#1</p>
              <input type="text" placeholder="Type your answer here" id="answer1Input" required>
              <input type="radio" class="radioInputForAnswers" name="radioInputForAnswers" id="answer1RadioButton" required>
            </label>
            <label class="inputLabel">
              <p>#2</p>
              <input type="text" placeholder="Type your answer here" id="answer2Input" required>
              <input type="radio" class="radioInputForAnswers" name="radioInputForAnswers" id="answer2RadioButton" required>
            </label>
            <label class="inputLabel">
              <p>#3</p>
              <input type="text" placeholder="Type your answer here" id="answer3Input" required>
              <input type="radio" class="radioInputForAnswers" name="radioInputForAnswers" id="answer3RadioButton" required>
            </label>
            <label class="inputLabel">
              <p>#4</p>
              <input type="text" placeholder="Type your answer here" id="answer4Input" required> 
              <input type="radio" class="radioInputForAnswers" name="radioInputForAnswers" id="answer4RadioButton" required>
            </label>
          </div>
        </div>
        <button type="submit" id="submitNew">Submit</button>
      </div>
    </form>
    <a href="http://localhost:3000/">
      <p>Go back to the game</p>
    </a>
  </div>
  <script src="/static/questions.js"></script>
</body>

</html>