* {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
  background-image: url('./Img/background.gif');
  background-size: cover;
  text-shadow: 2px 2px #ff0000;
  
}

h1 {
  font-size: 60px;
  color: rgb(233, 28, 148);
  text-shadow: rgb(43, 243, 236) 3px 3px 2px;
  font-weight: bold;
}

body {
  padding: 10px;
  width: calc(100% - 20px);
}

table {
  border: 1px solid black;
}

.scoreHolder {
  border: 1px solid black;
  display: flex;
  width: 50px;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.mainTextHolder {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  width: calc(100%);
  min-height: 100px;
  flex-direction: column;
}

.voteUpButton {
  border: 1px solid black;
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: seagreen;
}

.voteDownButton {
  border: 1px solid black;
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: tomato;
}

.title_text {
  font-size: 25px;
  font-weight: bold;
}

.url_text {
  font-size: 12px;
}

.addPostDiv {
  height: 250px;
  border: 1px solid black;
}