@import url('https://fonts.googleapis.com/css?family=Lato:300');

* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

a:link {
  text-decoration: none;
  color: #333333;
}

a:visited {
  text-decoration: none;
  color: #333333;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 170px;
  width: 100%;
  background-image: url('./Img/background.gif');
  background-position-x: center;
  background-position-y: -70px;
  background-size: cover;
  text-shadow: 2px 2px #ff0000;
}

.mainContainer {
  display: flex;
  background-color: #EEEEEE;
  padding: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: calc(100% - 20px);
}

.postContainer {
  background-color: #FFFFFF;
  margin-right: 10px;
}

.addPostDiv {
  min-width: 300px;
  max-width: 300px;
  min-height: 400px;
  border: 1px solid #B4B4B4;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  border-collapse: collapse; 
}

.ruleTextContainer {
  padding: 5px;
}

h1 {
  font-size: 60px;
  color: rgb(233, 28, 148);
  text-shadow: rgb(43, 243, 236) 3px 3px 2px;
  font-weight: bold;
}

h2 {
  font-size: 16px;
}

p {
  font-size: 12px;
}

span {
  font-size: 12px;
}

.postFunctions {
  display: flex;
}

.deleteFunction, .modifyFunction {
  margin-right: 8px;
  font-style: italic;
  padding: 3px 0 2px 0;
}

.deleteFunction:hover, .modifyFunction:hover {
  cursor: pointer;
}

table {
  border-spacing: 1px solid #B4B4B4;
  border-collapse: collapse; 
}

.tableRow {
  border: 1px solid #B4B4B4;
}

.tableRow:hover {
  box-shadow: 0px 2px 2px 0.5px #888888;
}

.scoreHolder {
  display: flex;
  width: 50px;
  height: auto;
  align-items: center;
  justify-content: center;
}

.mainTextHolder {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.voteBar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.voteUpButton {
  display: flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  background-image: url(./Img/upvote.png);
  background-repeat: no-repeat;
  background-position: center;
}

.voteDownButton {
  display: flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  background-image: url(./Img/downvote.png);
  background-repeat: no-repeat;
  background-position: center;
}

.title_text {
  font-size: 16px;
  font-weight: bold;
}

.url_text {
  font-size: 12px;
}

.addNewPostButton {
  background-color: #3A9CDC;
  width: 300px;
  height: 29px;
  color: white;
  border: none;
}