body {
  background: #eee;
}

.container {
  display: flex;
  width: 100%;
}

.item {
  height: 150px;
  width: 150px;
}

.green {
  background: #51D400;
}

.yellow {
  background: #FFD62A;
}

.purple {
  background: blueviolet;
}