@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
* {
  padding: 0;
  margin: 0;
  color: aliceblue;
  list-style-type: none;
  font-family: Montserrat, sans-serif;
}

.wrapper {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgb(155, 155, 155), rgb(255, 255, 255), rgb(155, 155, 155));
}

h1 {
  color: black;
  font-family: 'Indie Flower', cursive;
  padding-bottom: 20px;
  font-size: 50px;
}

.mainSpace {
  width: 800px;
  height: 395px;
  display: flex;
  justify-content: center;
  box-shadow: 3px 5px 8px #888888;
}

.mainViewer {
  width: 700px;
  height: 395px;
  background: white;
  display: flex;
  align-items: flex-end;
}

.mainImage {
  width: 700px;
  height: 395px;
  position: fixed;
}

.mainViewer:hover .textOverlay {
  opacity: 1;
}

.scrollLeft, .scrollRight {
  width: 20px;
  height: 395px;
  padding: 0 15px 0 15px;
  background: aliceblue;
}

.scrollLeft {
  content: url(./img/arrow.svg);
}

.scrollRight {
  content: url(./img/arrow.svg);
  transform: rotate(180deg);
}

.textOverlay {
  opacity: 0;
  width: 660px;
  height: 140px;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  padding: 0 20px 0 20px;
  transition: .9s ease;
}

.selectorContainer {
  margin-top: 30px;
  width: 800px;
  height: 80px;
}

.selectorElements {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

li {
  height: 60px;
  width: 106px;
  margin: 0 3px 0 3px;
  box-shadow: 2px 3px 8px #888888;
  display: flex;
  justify-content: center;
  padding: 2px;
  border: 2px;
  transition: all 0.3s ease;
}

#pic1, #pic2, #pic3, #pic4, #pic5 {
  height: 60px;
  width: 106px;
  transition: all 0.3s ease;
}

.scrollLeft:hover, .scrollRight:hover {
  cursor: pointer;
}

li:hover {
  width: 160px;
  height: 86px;
  margin-top: -13px;
  cursor: pointer;
}

li:hover #pic1, li:hover #pic2, li:hover #pic3, li:hover #pic4, li:hover #pic5 {
  width: 160px;
  height: 86px;
}